html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Mohave', sans-serif;
    background: black;
    cursor: crosshair;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow:hidden;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, letter-spacing 0.3s ease; /* Add transition for color and letter-spacing */
}

a:hover {
    letter-spacing: 2px;
    color: /* Your hover color */; /* Add the color you want on hover */
}


b {
    font-weight: 600;
}

/* Hide scrollbars for the entire document */
::-webkit-scrollbar {
    width: 0 !important;
}

/* Hide scrollbar track for webkit browsers */
::-webkit-scrollbar-track {
    display: none !important;
}

/* Hide scrollbar thumb for webkit browsers */
::-webkit-scrollbar-thumb {
    display: none !important;
}

/* Hide scrollbars for Firefox */
scrollbar-width: none;


#p5-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
}

/* Additional styles for the overlay */
#initial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


.enter-text {
    animation: glitch 1s linear infinite;
    position: relative;
    font-size: 40px;
    color: white;
    font-weight: 500;
    justify-content: center;
}

.enter-text:before,
.enter-text:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

.enter-text:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.enter-text:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitch {
    2%, 64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

@-webkit-keyframes glitch {
    2%, 64% {
        -webkit-transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
        -webkit-transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        -webkit-transform: translate(0, 0) skew(5deg);
    }
}

@keyframes glitchTop {
    2%, 64% {
        transform: translate(2px, -2px);
    }
    4%, 60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

@-webkit-keyframes glitchTop {
    2%, 64% {
        -webkit-transform: translate(2px, -2px);
    }
    4%, 60% {
        -webkit-transform: translate(-2px, 2px);
    }
    62% {
        -webkit-transform: translate(13px, -1px) skew(-13deg);
    }
}

@keyframes glitchBotom {
    2%, 64% {
        transform: translate(-2px, 0);
    }
    4%, 60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

@-webkit-keyframes glitchBotom {
    2%, 64% {
        -webkit-transform: translate(-2px, 0);
    }
    4%, 60% {
        -webkit-transform: translate(-2px, 0);
    }
    62% {
        -webkit-transform: translate(-22px, 5px) skew(21deg);
    }
}

/* Add GPU acceleration for elements with animations */
.glitch-element {
    transform: translateZ(0);
}



#news {
    position: sticky;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-section {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally and vertically */
}

    .news-image {
        width: 50vw;
        height: 50vh; /* Set a specific height for the image container on mobile */
        background-image: url('background_nebula.jpg'); /* Set the background image */
        background-size: cover; /* Crop the background image to cover the container */
        background-repeat: no-repeat;
        background-position: center;
        animation: moveImage 60s infinite alternate linear; /* Adjust the duration and other properties as needed */
    }

    @keyframes moveImage {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 100%;
        }
    }



#edition {
    position: sticky;
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edition-section {
    flex: 1;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally and vertically */
    margin: 10px; /* Add margin for spacing */
}

.edition-section a {
    display: block; /* Make the anchor a block-level element */
    text-align: center; /* Center the content inside the anchor */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.edition-section a:hover {
    transform: scale(1.1); /* Scale the image on hover */
}

.edition-section img {
    width: 50%; /* Set the width to 50% to make both images take 50% of the width */
    height: auto; /* Maintain the aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.edition-section img:hover {
    transform: scale(1.1); /* Scale the image on hover */
}



@media (max-width: 768px) {
    #news, #edition, #artists{
        flex-direction: column; /* Stack child sections vertically on mobile devices */
    }
    .news-image,.edition-section {width:100%;};
}



#artists {
    background-color: black;
    position: sticky;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;

}

.artists-section {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black; /* Add a white background color to each section */
                text-align: left;

}

.artists-section img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease, filter 1s ease; /* Add transitions for both transform and filter properties */
    filter: grayscale(100%); /* Apply a grayscale filter to non-hovered images */

}

.artists-section img:hover {
    filter: grayscale(0%); /* Apply a grayscale filter to non-hovered images */
    transform: scale(0.95); /* Zoom in the image on hover */
    transform-origin: center center; /* Set the transformation origin to the center of the image */
}

#artists2 {
    background-color: black;
    position: sticky;
    color: white;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    margin: 0 auto; /* Center the container horizontally */
}

.artists-section2 {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black; /* Add a white background color to each section */
    text-align: center;
    margin: 10px; /* Add margin to create space between the sections */
}


.artists-section2 img {
    width: 100%;
    height: 100%;
        filter: grayscale(100%); /* Apply a grayscale filter to non-hovered images */
            transition: filter 1s ease; /* Add transitions for both transform and filter properties */


}

.artists-section2 img:hover {
    filter: grayscale(0%); /* Apply a grayscale filter to non-hovered images */
}

#aboutus {
    position: sticky;
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left:5%;
    padding-right:5%; 
}


#footer {
    background-color: black;
    position: sticky;
    color: white;
    width: 100vw;
    height: 7vh;
    font-weight: 600;
        letter-spacing: 0px;
    display: flex; /* Use flexbox to arrange child sections */
    justify-content: space-between; /* Distribute child sections evenly */
    align-items: center; /* Vertically center child sections */
}

.footer-section {
    flex: 1; /* Equal distribution of space among child sections */
    text-align: center; /* Center text within child sections */
}



#content-1 {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background-video,
#background-video2 {
    width: 100vw;
    position: absolute;
    top: 50%; /* Move the videos 50% down the viewport */
    transform: translateY(-50%); /* Adjust to vertically center the videos */
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
}

.page-header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: black;
    text-align: center;
    font-size: 24px;
    color: white; /* Text color */
    opacity: 0; /* Initially hide the header */
    transition: opacity 2s; /* Add a transition for smooth appearance */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Vertically align the text to the middle */
}

.header-icons {
    display: flex;
    gap: 30px; /* Adjust the gap between icons */
    margin-left: auto; /* Push the icons to the right side */
    margin-right: 30px;
}

.header-icons img {
    width: 30px; /* Adjust the initial width of the icons */
        height: 30px; /* Adjust the initial width of the icons */

    transform: scale(1); /* Initial scale (no change) */
    transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

.header-icons img:hover {
    transform: scale(1.25); /* Adjust the scale on hover (e.g., 1.25 for 25% increase) */
}


#title {
    padding-top:30px;
    padding-bottom: 10px;
        padding-left: 10px;
    padding-right: 10px;
    position: relative;
    color: #fff;
    font-size: 25px;  
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 500;
}


.content {
    position: absolute;
    z-index: 10;
    text-align: center;
    color: #fff;
    font-size: 20px;  opacity: 0; /* Initially hide the header */
    transition: opacity 2s; /* Add a transition for smooth appearance */
    top:70%;
    text-transform: uppercase;
}

.arrow-container {
    position: absolute; /* Use relative positioning on the container */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hide the arrow */
    transition: opacity 1s; /* Add a transition for smooth appearance */
    top: 80%; /* Ensure the container covers the full viewport height */
}

.arrow {
}

.arrow img {
    width: 30px; /* Adjust the width and height of the image as needed */
    height: 30px;
    opacity: 0; /* Initially hide the arrow */
    animation: arrowAnimation 1s infinite alternate ease-in-out;
}





@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 1;
    }
}