body {
    font-family: 'Mohave', sans-serif;
    background: black;
    cursor: crosshair;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

b {
    font-weight: 600;
}

#p5-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
}

/* New styles for the initial overlay */
#initial-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.enter-text {
    animation: glitch 1s linear infinite;
    position: relative;
    font-size: 40px;
    color: white;
    font-weight: 500;
    justify-content: center;
}

.enter-text:before,
.enter-text:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

.enter-text:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.enter-text:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitch {
    2%, 64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

@-webkit-keyframes glitch {
    2%, 64% {
        -webkit-transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
        -webkit-transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        -webkit-transform: translate(0, 0) skew(5deg);
    }
}

@keyframes glitchTop {
    2%, 64% {
        transform: translate(2px, -2px);
    }
    4%, 60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

@-webkit-keyframes glitchTop {
    2%, 64% {
        -webkit-transform: translate(2px, -2px);
    }
    4%, 60% {
        -webkit-transform: translate(-2px, 2px);
    }
    62% {
        -webkit-transform: translate(13px, -1px) skew(-13deg);
    }
}

@keyframes glitchBotom {
    2%, 64% {
        transform: translate(-2px, 0);
    }
    4%, 60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

@-webkit-keyframes glitchBotom {
    2%, 64% {
        -webkit-transform: translate(-2px, 0);
    }
    4%, 60% {
        -webkit-transform: translate(-2px, 0);
    }
    62% {
        -webkit-transform: translate(-22px, 5px) skew(21deg);
    }
}

/* Add GPU acceleration for elements with animations */
.glitch-element {
    transform: translateZ(0);
}



#news {
    position: sticky;
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-section {
    flex: 1;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally and vertically */
}

.news-image {
    width: 45vw;
    height: 50vh; /* Set a specific height for the image container on mobile */
    background-image: url('nebula_1.png'); /* Set the background image */
    background-size: cover; /* Crop the background image to cover the container */
    background-repeat: no-repeat;
    background-position: center;
}

#edition {
    position: sticky;
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edition-section {
    flex: 1;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally and vertically */
}

.edition-section img {
    width: 50%; /* Set the width to 50% to make both images take 50% of the width */
    height: auto; /* Maintain the aspect ratio */
}


@media (max-width: 768px) {
    #news, #edition {
        flex-direction: column; /* Stack child sections vertically on mobile devices */
    }
    .news-image,.edition-section {width:100vw;};
}



#artists {
    background-color: black;
    position: sticky;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artists-section {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally and vertically */
    background-color: white; /* Add a white background color to each section */
}

.artists-section img {
    width: 100%; /* Ensure the image takes up the full width of the section */
    height: auto; /* Maintain the aspect ratio */
}

#footer {
    background-color: black;
    position: sticky;
    color: white;
    width: 100vw;
    height: 7vh;
    display: flex; /* Use flexbox to arrange child sections */
    justify-content: space-between; /* Distribute child sections evenly */
    align-items: center; /* Vertically center child sections */
}

.footer-section {
    flex: 1; /* Equal distribution of space among child sections */
    text-align: center; /* Center text within child sections */
}



#content-1 {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#background-video,
#background-video2 {
    width: 100vw;
    position: absolute;
    top: 50%; /* Move the videos 50% down the viewport */
    transform: translateY(-50%); /* Adjust to vertically center the videos */
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
}

.page-header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: black;
    text-align: center;
    font-size: 24px;
    color: white; /* Text color */
    opacity: 0; /* Initially hide the header */
    transition: opacity 2s; /* Add a transition for smooth appearance */
    display: flex; /* Use flexbox layout */
    align-items: center; /* Vertically align the text to the middle */
}

.header-icons {
    display: flex;
    gap: 30px; /* Adjust the gap between icons */
    margin-left: auto; /* Push the icons to the right side */
    margin-right: 30px;
}

.header-icons img {
    width: 30px; /* Adjust the initial width of the icons */
        height: 30px; /* Adjust the initial width of the icons */

    transform: scale(1); /* Initial scale (no change) */
    transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
}

.header-icons img:hover {
    transform: scale(1.25); /* Adjust the scale on hover (e.g., 1.25 for 25% increase) */
}


#title {
    padding-top:30px;
    padding-bottom: 10px;
        padding-left: 10px;
    padding-right: 10px;

    position: relative;
    color: #fff;
    font-size: 20px;  
    text-transform: uppercase;
}


.content {
    position: relative;
    z-index: 10;
    text-align: center;
    color: #fff;
    font-size: 20px;  opacity: 0; /* Initially hide the header */
    transition: opacity 2s; /* Add a transition for smooth appearance */
    top:70vh;
    text-transform: uppercase;
}

.arrow-container {
    position: relative; /* Use relative positioning on the container */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hide the arrow */
    transition: opacity 1s; /* Add a transition for smooth appearance */
    height: 80vh; /* Ensure the container covers the full viewport height */
}

.arrow {
    position: absolute; /* Use absolute positioning for the arrow image */
    bottom: 0; /* Position it at the bottom of the container */
}

.arrow img {
    width: 30px; /* Adjust the width and height of the image as needed */
    height: 30px;
    opacity: 0; /* Initially hide the arrow */
    animation: arrowAnimation 1s infinite alternate ease-in-out;
}





@keyframes arrowAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 1;
    }
}